body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #fefae0 60%, #ffcf50 75%);
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background-color: #fefae0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif;
  }
  .logo,
  .logo a{
    font-size: 32px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ffcf50;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    font-size: 13px;
  }
  .btn-outline {
    border: 2px solid #ffcf50;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    color: #ffcf50;
    background-color: white;
    cursor: pointer;
  }
  .btn-outline:hover {
    background-color: #fef9c3;
  }
  .btn-primary {
    background-color: #ffcf50;
    color: #fefae0;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
  .btn-primary:hover {
    background-color: #eab308;
  }
  
  /* Intro Section */
  .intro {
    display: flex;
    flex-direction: column;
    padding: 4rem 2.5rem;
    gap: 2rem;
  }
  @media (min-width: 768px) {
    .intro {
      flex-direction: row;
      align-items: center;
    }
  }
  .intro-text {
    flex: 2;
    margin-left: 80px;
  }
  .intro-img {
    flex: 1;
    text-align: center;
  }
  .intro-img img {
    width: 386px;
  }
  .title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .subtitle {
    font-size: 22px;
    font-weight: 500;
  }
  .description {
    margin-top: 22px;
    color: #4b5563;
    max-width: 42rem;
  }

  body, p, span, li, a {
    font-family: 'Lato', sans-serif;
  }
  
  
  /* Nav Tabs */
  .nav-tabs {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
    padding: 1rem 2;
    margin: 2rem auto;
    width: fit-content;
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .nav-tabs a,
  .nav-tabs span {
    font-size: 22px;
    color: #4b5563;
    text-decoration: none;
    padding: 1rem;
  }
  .nav-tabs a:hover {
    color: #000;
  }
  .active-tab {
    font-weight: bold;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #ffcf50;
    color: white;
  }
  
  /* Features Section */
  .features {
    padding: 2rem;
    background: #fff;
    position: relative;
    max-width: 90%;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 2rem auto;
  }
  
  
  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
  }
  
  .features-grid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1); /* vertical line */
  }
  
  @media (min-width: 768px) {
    .features-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .features-grid h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .features-grid p {
    font-size: 22px;
    color: #4b5563;
  }

  .vertical-divider {
    width: 2px;
    background-color: #ddd;
    margin: 0 1rem;
  }
  
  /* Footer */
  .footer {
    background-color: #ffcf50;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 4rem;
  }
  .footer   
  .footer-brand {
    justify-items: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 6.5rem;
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
  }
  
  .footer-links a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  .footer-copy {
    font-size: 0.8rem;
    margin-top: 2rem;
    color: #333;
  }
  